/* 1. Add this import statement at the very top of your file */
@import url('https://fonts.cdnfonts.com/css/cursed-timer-ulil');

body {
  margin: 0;
  background-color: #1B244A;
}

h3 {
  font-family: Verdana;
  font-weight: 700;
  font-style: Bold;
  font-size: 40px;
  line-height: 35.89px;
  letter-spacing: 0%;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.container {
  display: flex;
  justify-content: space-around;
}

.new-game-button{
    margin-top: 150px;
    background-color: transparent;
    width: auto;
    height: 45px;
}

.box {
  width: 155px;
  height: 120px;
  top: 125px;
  left: 82px;
  font-family: 'Cursed Timer ULiL', sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 90px;
  line-height: 126.67px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 5px;
  background-color: #080001;
  color: #F94F6D
}

.multibutton {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 30%;
}

button {
    background-color: transparent;
    width: 45px;
    height: 45px;
    color: #9AABD8;
    border-color: #9AABD8;
    border-style:solid;
    border-radius: 5px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
}